<div id="trade_now"><tradeit widget="buy-sell" stock-symbol="GE" publisher-user-id="123123" company-name="General Electric Co" /></div>
<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Stop waiting.<br>Start building.</h2>
      <a href="/stock_values/new" class="btn btn-outline btn-xl page-scroll">Search Stocks!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
