<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Visualize a Company's Value. Search Stocks Here!</h2>
      <a href="/stock_values/new" class="btn btn-outline btn-xl page-scroll">Search Stocks!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
