<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Nerdvestor provides tools to help investors better invest their money. Education is at the heart of what we do</h1>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">Sign up for Free!</a>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
    <div id="stock-guy">
        <img src="/assets/stock_guy.png" class="img-responsive" alt="">
        </div>
    </div>
              <!-- <div class="button">
                  You can hook the "home button" to some JavaScript events or just remove it
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
