<%= simple_form_for(@stock_value) do |f| %>
  <%= f.error_notification %>

  <div id="form-inputs">
    <%= f.input :ticker, label: false, placeholder: "Enter Symbol" %>
  </div>

  <div class="form-actions btn-xl">
    <%= f.button :submit, "Visualize Value" %>
  </div>
<% end %>


