.sign-in-page {
 	width: 300px;
    height: 400px;
	border: 2px solid #fff;
	margin: 0 auto;
	border-radius: 25px;
	h2 {
		padding-top: 20px;
	}
}

.btn-default {
	margin: 10px;
}

.sign-up-field { 
	color: black;
	padding: 10px;
}

.sign-up-page {
 	width: 350px;
    height: 460px;
	border: 2px solid #fff;
	margin: 0 auto;
	border-radius: 25px;
	h2 {
		padding-top: 20px;
	}
}

.notice-wrapper {
	text-align: center;
	padding-top: 20px;
	color: #fdcc52;
}