@import 'https://code.highcharts.com/css/highcharts.css';


.ticker_page {
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 100;
	font-size: 30px;
	line-height: 1.5;

}



#container, #bar-chart-pb, #bar-chart-ps, #bar-chart-div, #bar-chart-peg {
    height: 400px; 
    min-width: 200px; 
    max-width: 300px;
    margin: 0 auto;
    border: 2px solid #7cb5ec;
    border-radius: 5px;
}


#pe-ratio {
	float: left;
	padding-top: 30px;
	padding-right: 10rem;
}

#pb-ratio {
	float: right;
	padding-top: 30px;
}
#stock-name {
	text-align: center;
	border: 2px solid #7cb5ec;
    border-radius: 5px;
    margin-top: 60px;

}
#stock-price {
	text-align: center;
	font-size: 15px;
	font-weight: 100px;
	padding-top: 10px;
	color: #7cb5ec;
}

#ps-ratio {
	padding-top: 30px;

	
}

.full-line {
	max-width: 100%;
	color: #7cb5ec;


}

#div-yield {
	float: left;
	padding-top: 15px;
}

#peg-ratio {
	float: right;
	padding-top: 15px;
}


.market {
	
	font-size: 55px;
	margin-top: 20px;
	text-align: center;
	border: 2px solid #7cb5ec;
    border-radius: 5px;
    font-family: "League Gothic","Times New Roman",serif;
    display: inline-block;
    width: 350px;
    margin: 55px;
    

}


.sub-text {
	font-size: 20px;
	color: #7cb5ec;
}



.yearly_change {
	font-size: 55px;
	margin-top: 20px;
	text-align: center;
	border: 2px solid #7cb5ec;
    border-radius: 5px;
    font-family: "League Gothic","Times New Roman",serif;
    display: inline-block;
    width: 400px;
    margin: 30px;
}


#eps-chart {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
	border: 2px solid #7cb5ec;
    border-radius: 5px;
    margin-top: 30px;
}


.new-stock-page {
	margin-top: 60px;
}


.new-stock-page {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: image-url('nerdvestor.png');
  padding: 70px 0;
}

#enter-ticker {
	text-align: center;
	h1 {
		padding-top: 20px;
		font-size: 60px;
		font-weight: 900;
		-webkit-text-fill-color: #c9c9c9;
        -webkit-text-stroke-color: #fdcc52;
        -webkit-text-stroke-width: 1.00px; 
	}
}


input[type="submit"]{
	color: #fdcc52;
	background-color: #fff;
	border-color: #fdcc52;
	text-decoration: none;
	font-size: 20px;
	&:hover {
	color: #fdcc52;
	background-color: #fff;
	border-color: #fdcc52;
	text-decoration: none;
	font-size: 25px;
	}
}

#form-inputs {
	padding-bottom: 5px;	
}


#stock-man {
	margin: 0 auto;
	float: right;
}

.home-button {
	font-size: 15px;
}
.home-button:hover {
	color: #fdcc52;
	background-color: #fff;
	border-color: #fdcc52;
	text-decoration: none;
	font-size: 20px;
}

.footer-stlye {
	margin-top: 30px;
}